<ion-header>
  <ion-toolbar>
    <ion-title>
      App Planeja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="center bold">Bem vindo ao App Planeja.</p><br />
  <p class="center">O app de planejamento financeiro pessoal</p>
  <br />
  <div *ngIf="planejamentos.length == 0">
    <p class="red">Você ainda não cadastrou nem um planejamento</p>
  </div>
  <ion-button class="margin-90" [routerLink]="['/novo-plano']">Criar Plano Financeiro</ion-button>
  <div *ngFor="let planejamento of planejamentos">
    <ion-card>
      <ion-card-header>
        <h2 class="center">{{planejamento.nome}}</h2>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{planejamento.custoMensal}}
        </p>
        <p>
          {{planejamento.faturamentoMensal}}
        </p>
        <div style="display: flex; justify-content: flex-end;">
          <ion-button color="danger" size='small' fill='outline' (click)="Excluir(planejamento.nome)">
            Excluir
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>